@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: inter;
    src: url('../public/assets/fonts/Inter-Regular.otf');
}

@font-face {
    font-family: inter-bold;
    src: url('../public/assets/fonts/Inter-ExtraBold.otf');
}

body {
    font-family: inter;
}

.font-extrabold {
    font-family: inter-bold;
}

.signup-bg {
    background-image: url('../public/assets/images/signup-bg.png');
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 600;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-track {
    background-color: #35424B;
}

::-webkit-scrollbar-thumb {
    background-color: #248489;
    border-radius: 20px;
}

.nav-bar-menu>p {
    transition-duration: 0.3s;
}

.nav-bar-menu>p:hover,
.nav-bar-menu .active {
    color: #248489;
    font-weight: bold;
    cursor: pointer;
}

.banner-bg-shape {
    position: relative;
    z-index: 2;
}

/* 
.banner-bg-shape::after {
   content: '';
    top: 0;
    right: 0;
    position: absolute;
    z-index: 1;
    width: 33rem;
    bottom: 0;
    background-image: url('../public/assets/images/home-bg-shape.png');
} */

.bg-image-shape {
    background-image: url('../public/assets/images/home-bg-shape.png');
}

.how-it-works {
    transition-duration: 0..3s;
    cursor: pointer;
}

.how-it-works:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    background-color: white;
}

.slide-in-bottom {
    -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-9-12 0:11:15
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-bottom
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

.card-shadow {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}




.rated {
    transition-duration: 0.3s;
}

.swiper-slide {
    transition-duration: 0.3s;
}

.blogs-slider .swiper-slide-active {
    transform: scale(0.8);
}

.blogs-slider .swiper-slide:not(.swiper-slide-next) {
    transform: scale(0.8);
}

.swiper-wrapper {
    padding-bottom: 3.5rem;
}

.swiper-pagination-bullet {
    background-color: #8d8d8d !important;
    transform: scale(1.1);
}

.swiper-pagination-bullet-active {
    background-color: #248489 !important;
}

@media screen and (max-width:640px) {
    :root {
        font-size: 11px;
    }

    div[class$=-indicatorContainer] {
        padding: 0.2rem;
    }

    .nav-bar-menu .active {
        color: white;
    }
    .course-bg{
        background-position: right !important;
    }
    .bg-started::after {
        display: none;
    }
}

@media screen and (min-width:1024px) {
    .rated {
        opacity: 0;
    }

    .rated_p:hover .rated {
        opacity: 1;
    }
}

@media screen and (max-width:1024px) {
    .nav-toggle {
        position: absolute;
        flex-direction: column;
        top: 100%;
        background-color: #248489;
        width: 100%;
        text-align: left;
        left: 0;
        z-index: -1;
        align-items: flex-start;
        display: flex;
        padding: 10px;
        -webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
}

.hover-dropdown {
    transition-duration: 0.3s;
}

.hover-dropdown:hover {
    background-color: #F2FAFF;
    color: #35424B;
    cursor: pointer;
    border-radius: 7px;
    padding-left: 0.5rem;
}

.hover-dropdown:hover path {
    fill: #35424B;
}


.slide-in-top {}

@-webkit-keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

.course-bg {
    background-image: url('../public/assets/images/network-course-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.courses-slider .swiper-pagination {
    text-align: left;
}

.courses-slider .swiper-pagination .swiper-pagination-bullet {
    width: 3rem;
    border-radius: 8px;
    transition-duration: 0.2s;
    height: 5px;
}

.container {
    margin: auto;
    width: 90%;
}

.bg-trending {
    background-image: url('../public/assets/images/Trendingbadge.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1.9rem;
    width: 8rem;
}

.started-bg {
    background-image: url('../public/assets/images/started_pattern.png');
}

.bg-sprinkle {
    background-image: url('../public/assets/images/sprinkle.png');
    background-size: cover;
    background-position: center;
}

.bg-started {
    overflow: hidden;
    position: relative;
}

.bg-started::after {
    content: '';
    height: 29rem;
    width: 29rem;
    background-color: #248489;
    position: absolute;
    top: 50%;
    transform: translate(25%, -50%);
    right: 0;
    z-index: 1;
    border-radius: 50%;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    content: '' !important;
    height: 3rem;
    width: 3rem;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.swiper-button-prev:after {
    background-image: url("data:image/svg+xml,%3Csvg width='33' height='36' viewBox='0 0 33 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_306_633)' filter='url(%23filter0_d_306_633)'%3E%3Cg filter='url(%23filter1_d_306_633)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.4994 3.55227C9.90152 3.55227 4.55144 8.90106 4.55144 15.5002C4.55143 22.098 9.90152 27.4481 16.4993 27.4481C23.0972 27.4481 28.4473 22.098 28.4473 15.5002C28.4473 8.90107 23.0972 3.55227 16.4994 3.55227Z' fill='white'/%3E%3C/g%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.8781 20.496C18.595 20.7804 18.135 20.7814 17.8506 20.4983L13.3479 16.0149C13.2109 15.8785 13.134 15.6932 13.134 15.5C13.134 15.3068 13.2109 15.1215 13.3479 14.9851L17.8506 10.5018C18.135 10.2186 18.595 10.2196 18.8781 10.504C19.1613 10.7883 19.1603 11.2484 18.8759 11.5315L14.8903 15.5L18.8759 19.4685C19.1603 19.7517 19.1613 20.2117 18.8781 20.496Z' fill='%2335424B'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_306_633' x='-3' y='0' width='39' height='39' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='4'/%3E%3CfeGaussianBlur stdDeviation='2'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_306_633'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_306_633' result='shape'/%3E%3C/filter%3E%3Cfilter id='filter1_d_306_633' x='0.550781' y='3.55225' width='31.8965' height='31.8959' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='4'/%3E%3CfeGaussianBlur stdDeviation='2'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_306_633'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_306_633' result='shape'/%3E%3C/filter%3E%3CclipPath id='clip0_306_633'%3E%3Crect width='31' height='31' fill='white' transform='translate(32 31) rotate(-180)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}

.swiper-button-next:after {
    background-image: url("data:image/svg+xml,%3Csvg width='33' height='36' viewBox='0 0 33 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_306_630)' filter='url(%23filter0_d_306_630)'%3E%3Cg filter='url(%23filter1_d_306_630)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.5007 27.4477C23.0985 27.4477 28.4486 22.0989 28.4486 15.4998C28.4486 8.90196 23.0985 3.55188 16.5007 3.55188C9.90282 3.55188 4.55273 8.90196 4.55273 15.4998C4.55273 22.0989 9.90282 27.4477 16.5007 27.4477Z' fill='white'/%3E%3C/g%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.1219 10.504C14.405 10.2196 14.865 10.2186 15.1494 10.5017L19.6521 14.9851C19.7891 15.1215 19.866 15.3068 19.866 15.5C19.866 15.6932 19.7891 15.8785 19.6521 16.0149L15.1494 20.4982C14.865 20.7814 14.405 20.7804 14.1219 20.496C13.8387 20.2117 13.8397 19.7516 14.1241 19.4685L18.1097 15.5L14.1241 11.5315C13.8397 11.2483 13.8387 10.7883 14.1219 10.504Z' fill='%2335424B'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_306_630' x='-3' y='0' width='39' height='39' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='4'/%3E%3CfeGaussianBlur stdDeviation='2'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_306_630'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_306_630' result='shape'/%3E%3C/filter%3E%3Cfilter id='filter1_d_306_630' x='0.552734' y='3.55188' width='31.8965' height='31.8959' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='4'/%3E%3CfeGaussianBlur stdDeviation='2'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_306_630'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_306_630' result='shape'/%3E%3C/filter%3E%3CclipPath id='clip0_306_630'%3E%3Crect width='31' height='31' fill='white' transform='translate(1)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}

.swiper-button-next,
.swiper-button-prev {
    height: 3rem !important;
    width: 3rem !important;
}

.detail-swiper .swiper-wrapper {
    padding-bottom: 0 !important;
}

.detail-swiper {
    border-radius: 12px;
}

.detail-swiper .swiper-slide {
    height: 65vh;
    min-height: 25rem;
}

.detail-swiper-thumb {
    margin: 1rem 0;
}

.detail-swiper-thumb .swiper-wrapper {
    padding-bottom: 0 !important;
}

.detail-swiper-thumb .swiper-slide {
    height: 7rem !important;
    width: 7rem !important;
    border-radius: 12px;
    overflow: hidden;
    border: 2px solid transparent;
    cursor: pointer;
}

.detail-swiper-thumb .swiper-slide-thumb-active {
    border: 2px solid #248489;
}

.bg-find-work {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1552664730-d307ca884978?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80s");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

span[class$='-indicatorSeparator'] {
    display: none;
}

div[class$='-multiValue'] {
    background-color: #DBEEF2 !important;
    border: 1px solid #579FAE;
    border-radius: 122px;
    overflow: hidden;
}

div[class$='-control'] {
    padding: 0;
}

.bg-hire {
    background-image: linear-gradient(0deg, #A6BFFF 0%, #F68084 100%);
}

.bg-detail {
    background-image: linear-gradient(60deg, #F3F3F3 13.4%, #C9F5FC 86.6%);
}

.description-css h1,
.description-css h2,
.description-css h3,
.description-css h4,
.description-css h5 {
    @apply font-semibold
}

.description-css h1 {
    @apply text-xl
}

.description-css h2 {
    @apply text-lg
}

.description-css h3,
.description-css h4,
.description-css h5 {
    @apply text-base
}

.description-css p,
.description-css ul {
    @apply text-sm text-[#7B7B7B]
}

.description-css ul {
    @apply list-inside list-disc
}

.ck-editor__editable {
    min-height: 200px !important;
}

.bg-discover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../public/assets/images/discover-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}